.top_banner_add_container{
	z-index: 1080;
	background: #6e808e;
	top: 0;
	height: 126px;
}

.ad_slot {
    position: relative;
    z-index: 1010;
    overflow: initial;
}
.ad_slot_desktop_device {
    margin: 0 auto;
    min-height: 5.625rem;
    padding-bottom: 1.125rem;
    padding-top: 1.125rem;
    text-align: left;
    display: table;
}