.custom_place_holder{
	display: block;
	position: relative;
	height: 120px;
	width: 120px;
	border: 1px solid #333;
	border-radius: 2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	margin: 0 auto;
}