.featured_container{
    border: 1px solid #333;
    padding: 10px 5px;
    box-sizing: border-box;
    clear: both;
    display: block;
    float: left;
}
.featured_item_thumbnail{
	max-height: 240px;
	max-width: 240px;
}
.leftContainer{
	float: left;
}
.rightContainer{
	float: left;
}
.rightContainer .featured_container > span{
	float: left;
}
.rightContainer .featured_container > a{
    float: left;
    display: block;
    clear: left;
}
.rightContainer .featured_container > img{
    display: block;
    float: left;
}