* {
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;

}
html{
	background: #fff;
}
#menu {
    width: 100%;
    margin: auto;
    padding: 0;
    position: relative;
    display: block;
    top: 0;
    z-index: 999;
    padding: 0 10px;
}
#header_center{
	display: block;
	margin: 0 auto;
	width: 1040px;
	padding: 12px 5px 4px 5px;
}
#navbar{
    /* #331954 */
	background: #fff;
    color: #fff;
    z-index: 100;
    display: block;
    width: 100%;

    margin: 0px;
    padding: 0px;
    left: 0px;
    clear: both;
    border-bottom: 1px solid #111;
}
#navbar[data-sticky=true]{
	background: aquamarine;
	-webkit-transform: translate3d(0,64px,0);
    transform: translate3d(0,64px,0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
    transition: -webkit-transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
    transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
    transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) .3s,-webkit-transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
}
#navbar[data-sticky=false]{
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.headerButton{

}
.nav_right{
	float: left;
	width: 500px;
	padding-top: 2px;
	display: block;
}
.navbar_container{
	clear: both; /* 127px ehight*/
	height: 100px;
}
.nav_right > ul li{
	display: inline-block;
}
.nav_right > ul li a{
	font-weight: lighter;
    color: #111;
    padding: 0 5px 0 5px;
    font-family: Helvetica;
    font-size: 15px;
}
.nav_right ul{
	padding: 0;
	margin: 0;
}
.brandHeader{
	float: left;
	display: block;
}
.top-nav{
	top: 0;
}
.nav_relative{
	position: relative;
    -webkit-transition: -webkit-transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform .3s cubic-bezier(0.165, 0.84, 0.44, 1),-webkit-transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    
}
#wrapper{
	clear: both;
    padding-top: 17px;
}

.fixed{
	position:fixed;
    top: -78px;
	

}
@keyframes slide-down {
    0% {
        
        transform: translateY(-100%);
    } 
    100% {
        
        transform: translateY(0);
    } 
}
svg{
    height: 50px;
    width: 174px;
    margin: 0;
    padding: 0;
}
.logo{
    /* 451388*/
    
	fill: #8a54d2;
    height: 35px;
    width: 164px;
    display: block;
    position: relative;
    width: 165px;	
}
.button_open{
	display: block;
	background: #fff;
	color: #8457dc!important;
}
.button_open:hover{
	text-decoration: none!important;
}
.button_explore{
	display: block;
	float: left;
	font-size: 14px;
	font-weight: lighter;
	color: #111;
	font-family: 'Helvetica';
	padding: 4px 5px 4px 5px;
	border: 1px solid #111;
	border-radius: 2px;
	padding-left: 22px;
	/*
	padding-left 14px;
	*/
	text-decoration: none;
}
.button_explore:hover{
	text-decoration: underline;
}
/*
.navbar[data-sticky=true] .logo{
	-webkit-transform: translate3d(0,64px,0);
    transform: translate3d(0,64px,0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
    transition: -webkit-transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
    transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
    transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) .3s,-webkit-transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
}
.logon_false{
	-webkit-transition: -webkit-transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: .3s cubic-bezier(0.165, 0.84, 0.44, 1),-webkit-transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
*/

.popup{
	position: absolute;
    top: 54px	;
    left: 25px;
    width: 210px;	
	border: 1px solid #8457dc;
    background: #492490;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
    min-height: 200px;
}
.popup li a{
	color: #fff;
	font-weight: lighter;
	font-family: 'Helvetica',arial;
	font-size: 14px;
}
.button{
	position: relative;
	float: left;
	padding-left: 14px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
